# Supabase Utama (Main Data Center)
SUPABASE_UTAMA_URL=your-supabase-url
SUPABASE_UTAMA_KEY=your-supabase-anon-key

# Supabase B (Sessions & Participants)
SUPABASE_B_URL=your-supabase-url-b
SUPABASE_B_KEY=your-supabase-anon-key-b

# Client Environment
# VITE_SERVER_URL=ws://localhost:2567
